.nav{
    display: flex;
    justify-content: flex-end;
    justify-content: space-evenly;
}

.head{
    background-color: antiquewhite;
}

.body{
    background-color: lightyellow;
}

.div1{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: space-around;
}

.div2{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: space-around;
}

.div3{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.div4{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: space-around;
}

.footer{
    background-color: rgb(249, 219, 208);
}

.headdiv{
    width: 20%;
    height: 20%;
    display: flex;
}